<div class="page-aside-container">
<ul ng-show="sysMenu[0]=='flat'">
    <li ng-if="menuCheck(6)" ng-class="{'active':sysMenu[1]=='flat'}" ng-click="switch('flat')">
        <a href="#index" title="公寓管理">
            <i class="ALiconfont icon-shangwuqu"></i> 公寓管理
        </a>
    </li>
    <li ng-if="menuCheck(7)" ng-class="{'active':sysMenu[1]=='grade'}" ng-click="switch('grade')">
        <a href="#index" title="宿舍考评">
            <i class="ALiconfont icon-xinyongfen"></i> 宿舍考评
        </a>
    </li>
    <li ng-if="menuCheck(8)" ng-class="{'active':sysMenu[1]=='check'}" ng-click="switch('check')">
        <a href="#index" title="登记管理">
            <i class="ALiconfont icon-order" style="font-size:20px"></i> 登记管理
        </a>
    </li>
    <li ng-if="menuCheck(512)" ng-class="{'active':sysMenu[1]=='journal'}" ng-click="switch('journal')">
        <a href="#index" title="日志管理">
            <i class="ALiconfont icon-rizhi1" style="font-size:22px"></i> 日志管理
        </a>
    </li>
    <!--<li ng-if="menuCheck(321)" ng-class="{'active':sysMenu[1]=='flatManager'}" ng-click="switch('flatManager')">
        <a href="#index" title="人员管理">
            <i class="ALiconfont icon-addresslist" style="font-size:20px"></i> 人员管理
        </a>
    </li>-->
    <li ng-if="menuCheck(440)" ng-class="{'active':sysMenu[1]=='dormitoryCheck'}" ng-click="switch('dormitoryCheck')">
        <a href="#index" title="宿舍检查">
            <i class="ALiconfont icon-loudong" style="font-size:24px"></i> 宿舍检查
        </a>
    </li>
    <li ng-if="menuCheck(460)" ng-class="{'active':sysMenu[1]=='safetyCheck'}" ng-click="switch('safetyCheck')">
        <a href="#index" title="安全检查">
            <i class="ALiconfont icon-kuaisuchaxun" style="font-size:20px"></i> 安全检查
        </a>
    </li>
    <li ng-if="menuCheck(477)" ng-class="{'active':sysMenu[1]=='bedroomCheck'}" ng-click="switch('bedroomCheck')">
        <a href="#index" title="寝室检查">
            <i class="ALiconfont icon-qinshichaxun" style="font-size:24px"></i> 寝室检查
        </a>
    </li>
    <li ng-if="menuCheck(609)" ng-class="{'active':sysMenu[1]=='bedroomGrade'}" ng-click="switch('bedroomGrade')">
        <a href="#index" title="寝室考评">
            <i class="ALiconfont icon-pingfen" style="font-size:22px"></i> 寝室考评
        </a>
    </li>
</ul>
<!--这个地方必须写成sysMenu[0]不然authority.js这个文件就不能添加点击后的样式-->
<ul ng-show="sysMenu[0]=='report'">
     <li ng-if="menuCheck(403)" ng-class="{'active':sysMenu[1]=='report'}" ng-click="switch('report')">
        <a href="#index" title="预报到管理">
            <i class="ALiconfont icon-qiandao"></i> 预报到管理
        </a>
    </li>
    <li ng-if="menuCheck(402)" ng-class="{'active':sysMenu[1]=='quiltreserve'}" ng-click="switch('quiltreserve')">
        <a href="#quiltse" title="棉被预定">
            <i class="ALiconfont icon-mianbeiyuding" style="font-size:28px"></i> 棉被预定
        </a>
    </li>
    <li ng-if="menuCheck(433)" ng-class="{'active':sysMenu[1]=='package'}" ng-click="switch('package')">
        <a href="#index" title="新生礼包">
            <i class="ALiconfont icon-housetype" style="font-size:28px"></i> 新生礼包
        </a>
    </li>
    <li ng-if="menuCheck(437)" ng-class="{'active':sysMenu[1]=='preset'}" ng-click="switch('preset')">
        <a href="#index" title="设置">
            <i class="ALiconfont icon-set" style="font-size:24px"></i> 设置
        </a>
    </li>
</ul>

<ul ng-show="sysMenu[0]=='reportSecond'">
     <li ng-if="menuCheck(619)" ng-class="{'active':sysMenu[1]=='reportSecond'}" ng-click="switch('reportSecond')">
        <a href="#index" title="迎新系统">
            <i class="ALiconfont icon-qiandao"></i> 迎新系统
        </a>
    </li>
</ul>

<ul ng-show="sysMenu[0]=='entry'">
    <li ng-if="menuCheck(422)" ng-class="{'active':sysMenu[1]=='entry'}" ng-click="switch('entry')">
        <a href="#index" title="统计管理">
            <i class="ALiconfont icon-shangwuqu"></i> 统计管理
        </a>
    </li>
    <li ng-if="menuCheck(423)" ng-class="{'active':sysMenu[1]=='daily'}" ng-click="switch('daily')">
        <a href="#index" title="日常操作">
            <i class="ALiconfont icon-xinyongfen" style="font-size:20px"></i> 日常操作
        </a>
    </li>
    <!--<li ng-if="menuCheck(424)" ng-class="{'active':sysMenu[1]=='1'}" ng-click="switch('1')">
        <a href="#index" title="设备管理">
            <i class="ALiconfont icon-order" style="font-size:20px"></i> 设备管理
        </a>
    </li>-->
</ul>
<ul ng-show="sysMenu[0]=='center'">
    <li ng-if="menuCheck(353)" ng-class="{'active':sysMenu[1]=='center'}" ng-click="switch('center')">
        <a href="#index" title="用户中心">
            <i class="ALiconfont icon-users" style="font-size:20px"></i> 用户中心
        </a>
    </li>
    <li ng-if="menuCheck(11)" ng-class="{'active':sysMenu[1]=='floor'}" ng-click="switch('floor')">
        <a href="#index" title="楼栋数据">
            <i class="ALiconfont icon-loudong"></i> 楼栋数据
        </a>
    </li>
    <li ng-if="menuCheck(10)" ng-class="{'active':sysMenu[1]=='collect'}" ng-click="switch('collect')">
        <a href="#index" title="师生信息">
            <i class="ALiconfont icon-user" style="font-size:20px"></i> 师生信息
        </a>
    </li>
    <li ng-if="menuCheck(9)" ng-class="{'active':sysMenu[1]=='data'}" ng-click="switch('data')">
        <a href="#index" title="基础设置">
            <i class="ALiconfont icon-set" style="font-size:20px"></i> 基础设置
        </a>
    </li>
    <li ng-if="menuCheck(448)" ng-class="{'active':sysMenu[1]=='initialize'}" ng-click="switch('initialize')">
        <a href="#initialize" title="初始化管理">
            <i class="ALiconfont icon-tongbu" style="font-size:20px"></i> 初始化管理
        </a>
    </li>
</ul>
<ul ng-show="sysMenu[0]=='admin'">
    <li ng-if="menuCheck(13)" ng-class="{'active':sysMenu[1]=='admin'}" ng-click="switch('admin')">
        <a href="#index" title="账号管理">
            <i class="ALiconfont icon-zhanghaoguanli" style="line-height:33px"></i> 账号管理
        </a>
    </li>
    <li ng-if="menuCheck(12)" ng-class="{'active':sysMenu[1]=='role'}" ng-click="switch('role')">
        <a href="#index" title="角色管理">
            <i class="ALiconfont icon-jiaoseshezhi" style="font-size:22px"></i> 角色管理
        </a>
    </li>
    <li ng-if="menuCheck(508)" ng-class="{'active':sysMenu[1]=='pad'}" ng-click="switch('pad')">
        <a href="#index" title="PAD管理">
            <i class="ALiconfont icon-yubaodao" style="font-size:22px"></i> PAD管理
        </a>
    </li>
    <li ng-if="menuCheck(616)" ng-class="{'active':sysMenu[1]=='baseSetup'}" ng-click="switch('baseSetup')">
        <a href="#index" title="基础设置">
            <i class="ALiconfont icon-shezhi" style="font-size:22px"></i> 基础设置
        </a>
    </li>
</ul>

<ul ng-show="sysMenu[0]=='graduate'">
    <li ng-if="menuCheck(377)" ng-class="{'active':sysMenu[1]=='graduate'}" ng-click="switch('graduate')">
        <a href="#index" title="毕业离校">
            <i class="ALiconfont icon-exam" style="font-size:23px"></i> 毕业离校
        </a>
    </li>
</ul>
<ul ng-show="sysMenu[0]=='order'">
    <!--默认选中哪一个选项-->
    <li ng-if="menuCheck(382)" ng-class="{'active':sysMenu[1]=='order'}" ng-click="switch('order')">
        <a href="#order" title="预约处理">
            <i class="ALiconfont icon-yuyueshouli" style="font-size:23px"></i> 预约处理
        </a>
    </li> 
    <li ng-if="menuCheck(383)" ng-class="{'active':sysMenu[1]=='personnel'}" ng-click="switch('personnel')">
        <a href="#showper" title="人员管理">
            <i class="ALiconfont icon-yonghubiao" style="font-size:23px"></i> 人员管理
        </a>
    </li>
    <li ng-if="menuCheck(384)" ng-class="{'active':sysMenu[1]=='setting'}" ng-click="switch('setting')">
        <a href="#showset" title="相关设置">
            <i class="ALiconfont icon-shezhi" style="font-size:23px"></i> 相关设置
        </a>
    </li>
</ul>
<ul ng-show="sysMenu[0]=='meet'">
    <!--默认选中哪一个选项-->
    <li ng-if="menuCheck(550)" ng-class="{'active':sysMenu[1]=='meet'}" ng-click="switch('meet')">
        <a href="#meet" title="报名项目">
            <i class="ALiconfont icon-yuyueshouli" style="font-size:23px"></i> 报名项目
        </a>
    </li>     
</ul>

<ul ng-show="sysMenu[0]=='exammessage'">
    <!--默认选中哪一个选项-->
    <li ng-if="menuCheck(419)" ng-class="{'active':sysMenu[1]=='exammessage'}" ng-click="switch('exammessage')">
        <a href="#exammessage" title="考试详情">
            <i class="ALiconfont icon-exam" style="font-size:23px"></i> 考试详情
        </a>
    </li>
    <li ng-if="menuCheck(417)" ng-class="{'active':sysMenu[1]=='exams'}" ng-click="switch('exams')">
        <a href="#exams" title="试卷设置">
            <i class="ALiconfont icon-shijuanku" style="font-size:23px"></i> 试卷设置
        </a>
    </li> 
    <li ng-if="menuCheck(418)" ng-class="{'active':sysMenu[1]=='examgrade'}" ng-click="switch('examgrade')">
        <a href="#examgrade" title="等级管理">
            <i class="ALiconfont icon-dengji" style="font-size:23px"></i> 等级管理
        </a>
    </li>
    <li ng-if="menuCheck(420)" ng-class="{'active':sysMenu[1]=='exampeople'}" ng-click="switch('exampeople')">
        <a href="#exampeople" title="人员管理">
            <i class="ALiconfont icon-renyguanl" style="font-size:20px"></i> 人员管理
        </a>
    </li>
</ul>

<ul ng-show="sysMenu[0]=='physical'">
    <!--默认选中哪一个选项-->
    <li ng-if="menuCheck(493)" ng-class="{'active':sysMenu[1]=='physical'}" ng-click="switch('physical')">
        <a href="#physical" title="体检查询">
            <i class="ALiconfont icon-tijianchaxun" style="font-size:22px"></i> 体检查询
        </a>
    </li>
</ul>

<ul ng-show="sysMenu[0]=='bookinggrade'">
    <!--默认选中哪一个选项-->
    <li ng-if="menuCheck(467)" ng-class="{'active':sysMenu[1]=='bookinggrade'}" ng-click="switch('bookinggrade')">
        <a href="#bookinggrade" title="预约管理">
            <i class="ALiconfont icon-yuyuetixing" style="font-size:23px"></i> 预约管理
        </a>
    </li>
    <li ng-if="menuCheck(511)" ng-class="{'active':sysMenu[1]=='datastatistics'}" ng-click="switch('datastatistics')">
        <a href="#datastatistics" title="数据统计">
            <i class="ALiconfont icon-chart" style="font-size:20px"></i> 数据统计
        </a>
    </li> 
    <li ng-if="menuCheck(468)" ng-class="{'active':sysMenu[1]=='roomgrade'}" ng-click="switch('roomgrade')">
        <a href="#roomgrade" title="房型管理">
            <i class="ALiconfont icon-fangxing" style="font-size:24px"></i> 房型管理
        </a>
    </li> 
    <li ng-if="menuCheck(469)" ng-class="{'active':sysMenu[1]=='hotelset'}" ng-click="switch('hotelset')">
        <a href="#hotelset" title="宾馆设置">
            <i class="ALiconfont icon-rtiyanguan" style="font-size:24px"></i> 宾馆设置
        </a>
    </li>
    <li ng-if="menuCheck(473)" ng-class="{'active':sysMenu[1]=='persongrade'}" ng-click="switch('persongrade')">
        <a href="#persongrade" title="人员管理">
            <i class="ALiconfont icon-users" style="font-size:24px"></i> 人员管理
        </a>
    </li>
</ul>

<ul ng-show="sysMenu[0]=='formNotice'">
    <!--默认选中哪一个选项-->
    <li ng-if="menuCheck(568)" ng-class="{'active':sysMenu[1]=='formNotice'}" ng-click="switch('formNotice')">
        <a href="#formNotice" title="公告通知">
            <i class="ALiconfont icon-gonggao1" style="font-size:23px"></i> 公告通知
        </a>
    </li>
    <li ng-if="menuCheck(569)" ng-class="{'active':sysMenu[1]=='formMarketPrice'}" ng-click="switch('formMarketPrice')">
        <a href="#formMarketPrice" title="市场报价">
            <i class="ALiconfont icon-baojiazhong" style="font-size:24px"></i> 市场报价
        </a>
    </li> 
    <li ng-if="menuCheck(570)" ng-class="{'active':sysMenu[1]=='formPriceGrade'}" ng-click="switch('formPriceGrade')">
        <a href="#formPriceGrade" title="报价管理">
            <i class="ALiconfont icon-baojiakaidan" style="font-size:24px"></i> 报价管理
        </a>
    </li> 
    <li ng-if="menuCheck(571)" ng-class="{'active':sysMenu[1]=='formPersonGrade'}" ng-click="switch('formPersonGrade')">
        <a href="#formPersonGrade" title="人员管理">
            <i class="ALiconfont icon-renyguanl" style="font-size:21px"></i> 人员管理
        </a>
    </li>
</ul>

<ul ng-show="sysMenu[0]=='busbookinggrade'">
    <!--默认选中哪一个选项-->
    <li ng-if="menuCheck(556)" ng-class="{'active':sysMenu[1]=='busbookinggrade'}" ng-click="switch('busbookinggrade')">
        <a href="#busbookinggrade" title="预约管理">
            <i class="ALiconfont icon-yuyuetixing" style="font-size:23px"></i> 预约管理
        </a>
    </li>
    <li ng-if="menuCheck(558)" ng-class="{'active':sysMenu[1]=='driver'}" ng-click="switch('driver')">
        <a href="#driver" title="人员管理">
            <i class="ALiconfont icon-iconfonticonfontzhiweiguanli" style="font-size:24px"></i> 人员管理
        </a>
    </li> 
    <li ng-if="menuCheck(557)" ng-class="{'active':sysMenu[1]=='relatedset'}" ng-click="switch('relatedset')">
        <a href="#relatedset" title="相关设置">
            <i class="ALiconfont icon-shezhi" style="font-size:24px"></i> 相关设置
        </a>
    </li>  
</ul>

<ul ng-show="sysMenu[0]=='questionnaire'">
    <!--默认选中哪一个选项-->
    <li ng-if="menuCheck(475)" ng-class="{'active':sysMenu[1]=='questionnaire'}" ng-click="switch('questionnaire')">
        <a href="#questionnaire" title="问卷设置">
            <i class="ALiconfont icon-yixiangdengji" style="font-size:23px"></i> 问卷设置
        </a>
    </li>
    <li ng-if="menuCheck(476)" ng-class="{'active':sysMenu[1]=='questionstatist'}" ng-click="switch('questionstatist')">
        <a href="#questionstatist" title="统计管理">
            <i class="ALiconfont icon-toupiao" style="font-size:23px"></i> 统计管理
        </a>
    </li> 
</ul>

<ul ng-show="sysMenu[0]=='questionsetting'">
    <!--默认选中哪一个选项-->
    <li ng-if="menuCheck(585)" ng-class="{'active':sysMenu[1]=='questionsetting'}" ng-click="switch('questionsetting')">
        <a href="#questionsetting" title="问卷设置">
            <i class="ALiconfont icon-yixiangdengji" style="font-size:23px"></i> 问卷设置
        </a>
    </li>
    <li ng-if="menuCheck(586)" ng-class="{'active':sysMenu[1]=='questionmanagement'}" ng-click="switch('questionmanagement')">
        <a href="#questionmanagement" title="统计管理">
            <i class="ALiconfont icon-toupiao" style="font-size:23px"></i> 统计管理
        </a>
    </li> 
</ul>
<ul ng-show="sysMenu[0]=='bookingdetails'">
    <!--默认选中哪一个选项-->
    <li ng-if="menuCheck(588)" ng-class="{'active':sysMenu[1]=='bookingdetails'}" ng-click="switch('bookingdetails')">
        <a href="#bookingdetails" title="预约详情">
            <i class="ALiconfont icon-lishijilu" style="font-size:23px"></i> 预约详情
        </a>
    </li>
    <li ng-if="menuCheck(589)" ng-class="{'active':sysMenu[1]=='personnelmanagement'}" ng-click="switch('personnelmanagement')">
        <a href="#personnelmanagement" title="人员管理">
            <i class="ALiconfont icon-iconfonticonfontzhiweiguanli" style="font-size:23px"></i> 人员管理
        </a>
    </li> 
    <li ng-if="menuCheck(590)" ng-class="{'active':sysMenu[1]=='relatedsetting'}" ng-click="switch('relatedsetting')">
        <a href="#relatedsetting" title="相关设置">
            <i class="ALiconfont icon-shezhi" style="font-size:23px"></i> 相关设置
        </a>
    </li>
</ul>

<ul ng-show="sysMenu[0]=='hydropower'">
    <!--默认选中哪一个选项-->
    <li ng-if="menuCheck(526)" ng-class="{'active':sysMenu[1]=='hydropower'}" ng-click="switch('hydropower')">
        <a href="#hydropower" title="水电统计">
            <i class="ALiconfont icon-tongji" style="font-size:23px"></i> 水电统计
        </a>
    </li>
    <li ng-if="menuCheck(527)" ng-class="{'active':sysMenu[1]=='hydwrite'}" ng-click="switch('hydwrite')">
        <a href="#hydwrite" title="水电录入">
            <i class="ALiconfont icon-yixiangdengji" style="font-size:23px"></i> 水电录入 
        </a>
    </li> 
    <li ng-if="menuCheck(528)" ng-class="{'active':sysMenu[1]=='hydpayment'}" ng-click="switch('hydpayment')">
        <a href="#hydpayment" title="缴费模式">
            <i class="ALiconfont icon-jiaofei" style="font-size:23px"></i> 缴费模式 
        </a>
    </li> 
    <li ng-if="menuCheck(529)" ng-class="{'active':sysMenu[1]=='hydset'}" ng-click="switch('hydset')">
        <a href="#hydset" title="设置缴费单价">
            <i class="ALiconfont icon-shezhi" style="font-size:23px"></i> 设置缴费单价 
        </a>
    </li> 
        <li ng-if="menuCheck(530)" ng-class="{'active':sysMenu[1]=='hydhistory'}" ng-click="switch('hydhistory')">
        <a href="#hydhistory" title="缴费记录">
            <i class="ALiconfont icon-lishijilu" style="font-size:23px"></i> 缴费记录 
        </a>
    </li> 
</ul>


</div>
<i class="collapse" ng-click="changeMini()"></i>