<div class="page-navbar" header-navbar> 
    <div class="logo-nav">
        <img src="images/yeoman.png">
    </div>
    <div class="title-nav">
        后勤宝
    </div>
    <div class="top-navigation">
        <ul>
            <li ng-if="headerMenu(318) && media.wechat" data-toggle="wechat" ng-class="{'active':sysMenu[0]=='wechat'}"><a ng-click="headerSwitch(1,'wechat')" target="page-tab">微信平台</a></li>
            <li ng-if="headerMenu(1) && media.flat" data-toggle="flat" ng-class="{'active':sysMenu[0]=='flat'}" ng-click="headerSwitch(0,'flat')"><a href="#index">公寓管理</a></li>
            <li ng-if="headerMenu(4) && media.repair" data-toggle="repair" ng-class="{'active':sysMenu[0]=='repair'}"><a ng-click="headerSwitch(1,'repair')">智能报修</a></li>
            <!--<li ng-if="headerMenu(637) && media.newrepair" data-toggle="newrepair" ng-class="{'active':sysMenu[0]=='newrepair'}"><a ng-click="headerSwitch(1,'newrepair')">新智能报修</a></li>-->
            <li ng-if="headerMenu(5) && media.shuidian" data-toggle="shuidian" ng-class="{'active':sysMenu[0]=='shuidian'}"><a ng-click="headerSwitch(1,'shuidian')">水电缴费</a></li>
            <li ng-if="headerMenu(317) && media.shuidian" data-toggle="shuidian" ng-class="{'active':sysMenu[0]=='food'}"><a ng-click="headerSwitch(1,'food')" >订餐</a></li>
            <li ng-if="headerMenu(370) && media.water" data-toggle="water" ng-class="{'active':sysMenu[0]=='water'}"><a ng-click="headerSwitch(1,'water')" target="page-tab">订水</a></li>
            <li ng-if="headerMenu(459) && media.mall" data-toggle="mall" ng-class="{'active':sysMenu[0]=='mall'}"><a ng-click="headerSwitch(1,'mall')" >商城</a></li>
            <li ng-if="headerMenu(319) && media.message" data-toggle="message" ng-class="{'active':sysMenu[0]=='message'}"><a ng-click="headerSwitch(1,'message')">服务监督</a></li>
            <li ng-if="headerMenu(367) && media.order" data-toggle="order" ng-class="{'active':sysMenu[0]=='order'}"><a ng-click="headerSwitch(0,'order')" href="#order">浴室预定</a></li>
            <li ng-if="headerMenu(549) && media.meet" data-toggle="meet" ng-class="{'active':sysMenu[0]=='meet'}"><a ng-click="headerSwitch(0,'meet')" href="#meet">报名系统</a></li>
            <li ng-if="headerMenu(371) && media.graduate" data-toggle="graduate" ng-class="{'active':sysMenu[0]=='graduate'}"><a ng-click="headerSwitch(0,'graduate')" href="#index">毕业离校</a></li>
            <li ng-if="headerMenu(416) && media.exammessage" data-toggle="exammessage" ng-class="{'active':sysMenu[0]=='exammessage'}"><a ng-click="headerSwitch(0,'exammessage')" href="#exammessage">考试系统</a></li>
            <li ng-if="headerMenu(401) && media.report" data-toggle="report" ng-class="{'active':sysMenu[0]=='report'}"><a ng-click="headerSwitch(0,'report')" href="#index">预报到管理</a></li>
            <li ng-if="headerMenu(618) && media.reportSecond" data-toggle="reportSecond" ng-class="{'active':sysMenu[0]=='reportSecond'}"><a ng-click="headerSwitch(0,'reportSecond')" href="#index">迎新系统</a></li>
            <li ng-if="headerMenu(421) && media.entry" data-toggle="entry" ng-class="{'active':sysMenu[0]=='entry'}"><a ng-click="headerSwitch(0,'entry')" href="#index">出入管理</a></li>
            <li ng-if="headerMenu(466) && media.bookinggrade" data-toggle="bookinggrade" ng-class="{'active':sysMenu[0]=='bookinggrade'}"><a ng-click="headerSwitch(0,'bookinggrade')" href="#bookinggrade">宾馆预约</a></li>
            <li ng-if="headerMenu(555) && media.busbookinggrade" data-toggle="busbookinggrade" ng-class="{'active':sysMenu[0]=='busbookinggrade'}"><a ng-click="headerSwitch(0,'busbookinggrade')" href="#busbookinggrade">公车预约</a></li>
            <li ng-if="headerMenu(587) && media.bookingdetails" data-toggle="bookingdetails" ng-class="{'active':sysMenu[0]=='bookingdetails'}"><a ng-click="headerSwitch(0,'bookingdetails')" href="#bookingdetails">会场预约</a></li>
            <li ng-if="headerMenu(567) && media.formNotice" data-toggle="formNotice" ng-class="{'active':sysMenu[0]=='formNotice'}"><a ng-click="headerSwitch(0,'formNotice')" href="#formNotice">采供系统</a></li>
            <li ng-if="headerMenu(474) && media.questionnaire" data-toggle="questionnaire" ng-class="{'active':sysMenu[0]=='questionnaire'}"><a ng-click="headerSwitch(0,'questionnaire')" href="#questionnaire">问卷系统</a></li>
            <li ng-if="headerMenu(584) && media.questionsetting" data-toggle="questionsetting" ng-class="{'active':sysMenu[0]=='questionsetting'}"><a ng-click="headerSwitch(0,'questionsetting')" href="#questionsetting">服务测评</a></li>
            <li ng-if="headerMenu(492) && media.physical" data-toggle="physical" ng-class="{'active':sysMenu[0]=='physical'}"><a ng-click="headerSwitch(0,'physical')" href="#physical">体检查询</a></li>
            <li ng-if="headerMenu(2) && media.center" data-toggle="center" ng-class="{'active':sysMenu[0]=='center'}"><a ng-click="headerSwitch(0,'center')" href="#index">数据中心</a></li>
            <li ng-if="headerMenu(3) && media.admin" data-toggle="admin" ng-class="{'active':sysMenu[0]=='admin'}"><a ng-click="headerSwitch(0,'admin')" href="#index">系统设置</a></li>
        </ul>
    </div>
    
    <div class="user-nav">
        <div><a>{{media.name}}</a></div>
        <ul>
            <li ng-click="change()">修改密码</li>
            <li ng-click="logout()">退出登陆</li>
        </ul>
    </div>
    <div class="menu-nav" style="right:120px;width:80px">
        <div><a target="_blank" href="http://www.houqinbao.com/index.php?s=/addon/Help/Help/index.html">帮助</a></div>
    </div>
    <div class="user-nav" style="right:200px;width:80px">
        <div>
            <a>客服</a>
        </div>
        <ul>
            <li ng-click="tipShow('28256212')">客服电话1</li>
            <li ng-click="tipShow('28256232')">客服电话2</li>
            <li ng-click="showqq()">客服QQ</li>
        </ul>
    </div>
    <div class="menu-nav" style="right:250px;width:70px">
        <i class="page-navbar-setting ALiconfont icon-set" ng-click='showCard("#headerToggle")'></i>
    </div>

    <div class="page-navbar-toggle fadeIn animated">
        <div class="top-navigation">
            <ul>
                <li ng-if="headerMenu(318) && media.wechat" data-toggle="wechat" ng-class="{'active':sysMenu[0]=='wechat'}"><a ng-click="headerSwitch(1,'wechat')" target="page-tab">微信平台</a></li>
                <li ng-if="headerMenu(1) && media.flat" data-toggle="flat" ng-class="{'active':sysMenu[0]=='flat'}" ng-click="headerSwitch(0,'flat')"><a href="#index">公寓管理</a></li>
                <li ng-if="headerMenu(4) && media.repair" data-toggle="repair" ng-class="{'active':sysMenu[0]=='repair'}"><a ng-click="headerSwitch(1,'repair')">智能报修</a></li>
                <!--<li ng-if="headerMenu(637) && media.newrepair" data-toggle="newrepair" ng-class="{'active':sysMenu[0]=='newrepair'}"><a ng-click="headerSwitch(1,'newrepair')">新智能报修</a></li>-->
                <li ng-if="headerMenu(5) && media.shuidian" data-toggle="shuidian" ng-class="{'active':sysMenu[0]=='shuidian'}"><a ng-click="headerSwitch(1,'shuidian')">水电缴费</a></li>
                <li ng-if="headerMenu(317) && media.shuidian" data-toggle="shuidian" ng-class="{'active':sysMenu[0]=='food'}"><a ng-click="headerSwitch(1,'food')" >订餐</a></li>
                <li ng-if="headerMenu(370) && media.water" data-toggle="water" ng-class="{'active':sysMenu[0]=='water'}"><a ng-click="headerSwitch(1,'water')" target="page-tab">订水</a></li>
                <li ng-if="headerMenu(459) && media.mall" data-toggle="mall" ng-class="{'active':sysMenu[0]=='mall'}"><a ng-click="headerSwitch(1,'mall')" >商城</a></li>
                <li ng-if="headerMenu(319) && media.message" data-toggle="message" ng-class="{'active':sysMenu[0]=='message'}"><a ng-click="headerSwitch(1,'message')">服务监督</a></li>
                <li ng-if="headerMenu(367) && media.order" data-toggle="order" ng-class="{'active':sysMenu[0]=='order'}"><a ng-click="headerSwitch(0,'order')" href="#order">浴室预定</a></li>
                <li ng-if="headerMenu(549) && media.meet" data-toggle="meet" ng-class="{'active':sysMenu[0]=='meet'}"><a ng-click="headerSwitch(0,'meet')" href="#meet">报名系统</a></li>
                <li ng-if="headerMenu(371) && media.graduate" data-toggle="graduate" ng-class="{'active':sysMenu[0]=='graduate'}"><a ng-click="headerSwitch(0,'graduate')" href="#index">毕业离校</a></li>
                <li ng-if="headerMenu(416) && media.exammessage" data-toggle="exammessage" ng-class="{'active':sysMenu[0]=='exammessage'}"><a ng-click="headerSwitch(0,'exammessage')" href="#exammessage">考试系统</a></li>
                <li ng-if="headerMenu(401) && media.report" data-toggle="report" ng-class="{'active':sysMenu[0]=='report'}"><a ng-click="headerSwitch(0,'report')" href="#index">预报到管理</a></li>
                <li ng-if="headerMenu(618) && media.reportSecond" data-toggle="reportSecond" ng-class="{'active':sysMenu[0]=='reportSecond'}"><a ng-click="headerSwitch(0,'reportSecond')" href="#index">迎新系统</a></li>
                <li ng-if="headerMenu(421) && media.entry" data-toggle="entry" ng-class="{'active':sysMenu[0]=='entry'}"><a ng-click="headerSwitch(0,'entry')" href="#index">出入管理</a></li>
                <li ng-if="headerMenu(466) && media.bookinggrade" data-toggle="bookinggrade" ng-class="{'active':sysMenu[0]=='bookinggrade'}"><a ng-click="headerSwitch(0,'bookinggrade')" href="#bookinggrade">宾馆预约</a></li>
                <li ng-if="headerMenu(555) && media.busbookinggrade" data-toggle="busbookinggrade" ng-class="{'active':sysMenu[0]=='busbookinggrade'}"><a ng-click="headerSwitch(0,'busbookinggrade')" href="#busbookinggrade">公车预约</a></li>
                <li ng-if="headerMenu(587) && media.bookingdetails" data-toggle="bookingdetails" ng-class="{'active':sysMenu[0]=='bookingdetails'}"><a ng-click="headerSwitch(0,'bookingdetails')" href="#bookingdetails">会场预约</a></li>
                <li ng-if="headerMenu(567) && media.formNotice" data-toggle="formNotice" ng-class="{'active':sysMenu[0]=='formNotice'}"><a ng-click="headerSwitch(0,'formNotice')" href="#formNotice">采供系统</a></li>
                <li ng-if="headerMenu(474) && media.questionnaire" data-toggle="questionnaire" ng-class="{'active':sysMenu[0]=='questionnaire'}"><a ng-click="headerSwitch(0,'questionnaire')" href="#questionnaire">问卷系统</a></li>
                <li ng-if="headerMenu(584) && media.questionsetting" data-toggle="questionsetting" ng-class="{'active':sysMenu[0]=='questionsetting'}"><a ng-click="headerSwitch(0,'questionsetting')" href="#questionsetting">服务测评</a></li>
                <li ng-if="headerMenu(492) && media.physical" data-toggle="physical" ng-class="{'active':sysMenu[0]=='physical'}"><a ng-click="headerSwitch(0,'physical')" href="#physical">体检查询</a></li>
                <li ng-if="headerMenu(2) && media.center" data-toggle="center" ng-class="{'active':sysMenu[0]=='center'}"><a ng-click="headerSwitch(0,'center')" href="#index">数据中心</a></li>
                <li ng-if="headerMenu(3) && media.admin" data-toggle="admin" ng-class="{'active':sysMenu[0]=='admin'}"><a ng-click="headerSwitch(0,'admin')" href="#index">系统设置</a></li> 
            </ul>
        </div>
        <i class="page-navbar-close ALiconfont icon-close"></i>
    </div>
</div>

<div class="info-card fadeIn animated" id="newPassword" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        修改密码
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="editSave(closeCard('#newPassword'))">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td class="require">原密码</td><td><input type="password" ng-model="media.old" /></td>
                                </tr>
                                <tr>
                                    <td class="require">新密码</td><td><input type="password" ng-model="media.newPassword" /></td>
                                </tr>
                                <tr>
                                    <td class="require">确认密码</td><td><input type="password" ng-model="media.confirm" /></td>
                                </tr>
                                <tr>
                                    <td></td><td class="td-btn-box">
                                        <button type="submit" class="btn btn-info">确认修改</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" id="headerToggle" info-card>
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        自定义菜单
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" style="padding:50px">
                            <li>
                                <a class="list-group-item b-l-primary">
                                    微信平台
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.wechat" type="checkbox" switch-size="mini" switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    公寓管理
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.flat" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    智能报修
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.repair" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <!--<li>
                                <a class="list-group-item b-l-primary">
                                    新智能报修
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.newrepair" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>-->
                            <li>
                                <a class="list-group-item b-l-primary">
                                    水电缴费
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.shuidian" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                              <li>
                                <a class="list-group-item b-l-primary">
                                    订餐
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.food" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    订水
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.water" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    商城
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.mall" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    服务监督
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.message" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    浴室预定
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.order" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    报名系统
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.meet" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    毕业离校
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.graduate" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                             <li>
                                <a class="list-group-item b-l-primary">
                                    考试系统
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.exammessage" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    预报到管理
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.report" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    迎新系统
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.reportSecond" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    出入管理
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.entry" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    宾馆预约
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.bookinggrade" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    公车预约
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.busbookinggrade" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    会场预约
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.bookingdetails" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    采供系统
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.formNotice" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    问卷系统
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.questionnaire" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    服务测评
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.questionsetting" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    体检查询
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.physical" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    数据中心
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.center" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item b-l-primary">
                                    系统设置
                                    <div style="float:right">
                                        <input bs-switch ng-change="toggleSave()" ng-model="media.admin" type="checkbox" switch-size="mini"  switch-on-text="开" switch-off-text="关">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
